extends layouts/authenticate

block content
  a.flex.items-center.mb-6.text-2xl.font-semibold.text-gray-900(href='/' class='dark:text-white')
    img.w-8.h-8.mr-2(src='https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg' alt='Logo')
  .w-full.bg-white.rounded-lg.shadow(class='dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700')
    .p-6.space-y-4(class='md:space-y-6 sm:p-8')
      h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900(class='md:text-2xl dark:text-white') Sign in to your account
      form(method='POST' action='/interaction/' + uid autocomplete='off' class='md:space-y-6')
        div
          label.block.mb-2.text-sm.font-medium.text-gray-900(for='email' class='dark:text-white') Email Address
          input.bg-gray-50.border.border-gray-300.text-gray-900(
            class='sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
            placeholder='username'
            type='text'
            id='username'
            name='username'
            required
          )
        div
          label.block.mb-2.text-sm.font-medium.text-gray-900(for='password' class='dark:text-white') Password
          input.bg-gray-50.border.border-gray-300.text-gray-900(
            class='sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
            placeholder='••••••••'
            type='password'
            id='password'
            name='password'
            required
          )
        .flex.items-center.justify-between
          .flex.items-start
            .flex.items-center.h-5
              input.w-4.h-4.border.border-gray-300.rounded.bg-gray-50(
                class='focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800'
                type='checkbox'
                id='remember'
                name='remember'
              )
            .ml-3.text-sm
              label.text-gray-500(for='remember' class='dark:text-white') Remember me
          a.text-sm.font-medium.text-primary-600(href='#' class='hover:underline dark:text-primary-500') Forgot your password?
        button.w-full.text-white.bg-primary-600.font-medium.rounded-lg.text-sm.px-5.text-center(
          class='py-2.5 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800'
          type='submit'
        ) Sign in
        p.text-sm.font-light.text-gray-500(class='dark:text-gray-400')
          | Don’t have an account yet?
          a.text-primary-600.font-medium(href='#' class='hover:underline dark:text-primary-500') Sign up
block append script
  script.
    function login(type) {
      document.getElementById('upstream').value = type
      document.getElementById('login').submit()
    }
